<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <remove fileExtension=".woff" />
            <remove fileExtension=".vtt" />
            <mimeMap fileExtension=".vtt" mimeType="text/vtt" />
            <mimeMap fileExtension=".swc" mimeType="text/swc" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
    </system.webServer>
</configuration>
