body{
    font-size: large;
    background: #616161;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#myvideo{
    margin-top: 1.6%;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    width: 780; 
    height: 460;
}
.btns{
    display: block;
    width:800;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
    line-height: 35px;
}
button{
    font-size: medium;
    border-style:solid;
    border-radius: 0.2em;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
#next{
    margin-left: 38%;
    width:120px;
    padding: 0.5em 1em;
}
.bigbtn{    
  display: block;
  position: absolute;
  top: 10%;
  left: 2%;
}
a{
    display: inline-block;
    width:176px;
    padding: 0.75em 1.2em;
    text-decoration: none;
    color: black;
    border-style: outset;
    border-radius: 0.3em;
    background-color:antiquewhite;
}
#mm{
    width:180px;
}

